.places {
  width: 987px;
  display: grid;
  row-gap: 48px;
  margin-bottom: 90px;
}

@media screen
and (max-width: 768px) {
  .places {
    width: 720px;
    margin-bottom: 200px;
  }
}

@media screen
and (max-width: 320px) {
  .places {
    width: 320px;
    margin-bottom: 0px;
  }
}