.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 460px;
  grid-gap: 48px;
}

@media screen
and (max-width: 768px) {
  .place {
    grid-template-rows: 1fr 350px 150px;
  }
}

@media screen
and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
  }
}