.place__button {
  padding: 13px 20px;
  /*gap: 10px;*/
  width: 355px;
  height: 48px;
  background: #0278FE;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.place__button:hover {
  background: #0063D2;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px) {
  .place__button {
    width: 288px;
    font-size: 14px;
    line-height: 17px;
    grid-row: 5;
    justify-self: center;
  }
}