.cover__background {
  width: 1184px;
  height: 740px;
  background-color: #2A2C2F;
  opacity: 0.8;
}

.cover__background:hover {
  opacity: 0.3;
}

@media screen
and (max-width: 768px) {
  .cover__background {
    width: 100%;
    height: 746px;
    object-fit: cover;
  }
}

@media screen
and (max-width: 320px) {
  .cover__background {
    width: 100%;
    height: 254px;
    object-fit: cover;
  }
}