.cover__subtitle {
  width: 280px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen
and (max-width: 320px) {
  .cover__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
  }
}